__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/
*.egg
*.log
env/
venv/
ENV/
*.sqlite3
db.sqlite3
/media/
*.pyc
*.pot
*.mo
*.log
staticfiles/
static_root/
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
.env
vectorstore/db_faiss/
